*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(./image/Hero-bg.png);
    width: 100%;
    height: 698px;
    /* margin: 0 auto; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px 158px 150px;
    padding: 50px 0;


}
    
.common-font{
    
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.color{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-size: 34px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #4E47FF;
}
.ralway-font{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.btn{
    background-color: #4E47FF;
   width: 132px;
   height: 48px;
   border-radius: 10px;
   color: #FFFFFF;
   font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;


}
.banner{
    text-align: center;
    padding: 152px 243px;
    margin-bottom: 30px;
}
.banner-content{
  
}
.banner-font{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 65px;
  font-variation-settings:
    "wdth" 100;
    color: #252432;

}
main{
  background-color: #FFFFFF;
  max-width:1140px;
  margin: 0 auto;
  
}
.one{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-top: 40px;
    
  max-width: 1140px;
  height: 328px;
}
                     /* margin? */
img{
  border-radius: 12px;
}
.left{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.lefr-parragraph{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 24px;
    width: 517px;
    height: 60px;
    line-height: 30px;
}
.two-title{
 
  height: 348px;
  border-radius: 24px;
  background-color: aliceblue;
  margin-top: 60px;
  padding: 50px 142px;
}

.items{
  display: flex;
  justify-content: space-between;
}
.item-title{
   font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-size: 80px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    color: #4E47FF;
}
.item-description{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    font-size: 24px;
    width: 120px;
    height: 24px;
    line-height: 30px;
}